.font-gr{
	font-family: 'Grandstander', cursive;
}
.font-ca{
	font-family: 'Caveat', cursive;
}
.font-50{
	font-size: 50px;
}
.font-22{
	font-size: 22px;
}
.font-16{
	font-size: 16px;
}
.font-19{
	font-size: 19px;
}